:root{
    --color-area:#00ff80;
    --color-data:#f5a30b;
}
/* style to the body */
body{
    height: 100vh;
    background-image:linear-gradient(to bottom,#010a81,#015a7e);
}
/* style nav content */
.content-first{
    width: 100%;
}
.container-nav{
    padding: 0px 4% 0px 4%;
    height: 68px;
}
.nav-logo{
    width: 240px;
    height: 66px;
    padding: 0px;
    margin: 0px;
}
/* style main section */
.main{
    width: 98%;
    height: 86vh;
    margin: 0px auto;
    margin-top: 2vh;
    display: grid;
    grid-template-columns: 56% 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
}
/* layout of the anime form */
.anime-data{
    grid-column: 1/2;
    grid-row: 1/-1;
    border: 1px solid var(--color-area);
    border-radius: 10px;
}
.anime-preview{
    grid-column: 2/3;
    grid-row: 1/-1;
    border: 1px solid var(--color-area);
    border-radius: 10px;
}
/* section of the anime dates */
.content1{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 62px;
}
.date-form{
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.content-date{
    width: 30%;
    height: 10%;
}
.d-input{
    width: 100% !important;
    font-size: 14px !important;
    margin: 0px !important;
    color: #f1f1f1;
    box-shadow: none !important;
}
.d-input:focus-visible{
    border-bottom: 1px solid var(--color-data) !important;
    box-shadow:1px solid var(--color-data) !important;
}
.d-input:focus-visible+label{
    color: var(--color-data) !important;
}
.input-field .btn{
    border-radius: 20%;
    padding: 0px 10px;
    background-color: var(--color-data);
    color: #ffffff;
}
.input-field .btn:hover{
    background-color: var(--color-data);
}
.file-path{
    color: #ffffff;
    font-size: 10px !important;
}
.content-date-check{
    width: 30%;
    height: 10%;
    display: flex;
    align-items: center;
}
.content-date-check label span::before{
    border: 2px solid var(--color-data) !important;
}
.with-gap:checked+span::after{
    background-color:none !important;
    border: none !important;
}
.content-date-check label span::after{
    background-color: var(--color-data) !important;
}
.datepicker{
    color: #ffffff;
}
div.input-field .select-wrapper .select-dropdown{
    color: #ffffff;
}
div.input-field .select-wrapper .select-dropdown:focus-visible{
    border-bottom: 1px solid var(--color-data) !important;
    box-shadow:1px solid var(--color-data) !important;
}
div.input-field .select-wrapper ul{
    background-color: rgba(0, 0, 0, 0.493) !important;
}
div.input-field .select-wrapper li span{
    color: #ffffff !important;
}
.content-date-area{
    width: 90%;
    height: 10%;
    display: flex;
    justify-content: center;
}
.content-btn{
    grid-column: 1/2;
    grid-row: 2/3;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.content-date-btn{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.cont-tags{
    width: 60%;
}
.btn-tag-info{
    border-radius: 20% !important;
    background-color: #000000c2 !important;
    color: #ffffff;
    cursor: default !important;
}
.btn-tag-info:hover{
    background-color: black;
}
.btn-data{
    position: absolute;
    right: 10px;
    top: 12px;
    border: none;
    background-color: var(--color-data);
    color: #ffffff;
    padding: 8px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}
.btn-data:active{
    transform: scale(.9);
}
.btn-data:focus{
    background-color: var(--color-data);
}
.btn-save-data{
    position: absolute;
    left: 10px;
    top: 12px;
    border: none;
    background-color:#008ddf;
    color: #ffffff;
    padding: 8px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}
.btn-save-data:active{
    transform: scale(.9);
}
.btn-save-data:focus{
    background-color: #008ddf;
}
/* section of the example anime */
.content2{
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80% 1fr;
}
.btn-change{
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 2px 4px;
    background-color: var(--color-data);
    border-radius: 100%;
    opacity: .8;
    cursor: pointer;
    z-index: 1;
}
.btn-change i{
    color: #ffffff;
}
.btn-change:hover{
    transform: scale(1.2);
    opacity: 1;
}
.content-card{
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.the-card{
    width: 48%;
    height: 90%;
    position: relative;
    background-color: #ffffffe1;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 200ms;
    overflow: hidden;
}
.the-card:hover{
    transform: scale(1.04);
}
.link-card{
    width: 90%;
    height: 94%;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80% 20%;
    cursor:default;
}
.img-card{
    grid-column: 1/1;
    grid-row: 1/2;
    background-image: url(/src/app/assets/img/boku.jpg);
    background-size:100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 6px;
}
.title-card{
    grid-column: 1/1;
    grid-row: 2/3;
    text-align: center;
    font-size: 16px;
    font-family:'Hind Siliguri', sans-serif;
    color: var(--color-data);
    overflow: hidden;
}
.icon-card{
    position: absolute;
    top:0px;
    right:0px;
    padding:4px;
    cursor: pointer;
    background-color: #000000c4;
    color: #ffffff;
}
.content-info{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #290370;
    top: 0;
    transform: translateY(-100%);
    transition: transform 400ms;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-info2{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #29025c;
    top: 0;
    transition: transform 400ms;
    transform: translateY(0);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-date{
    width: 90%;
    height: 90%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15% 10% 20% 1fr;
    gap: 5px;
    color: #ffffff;
    font-size: 16px;
}
.title-info{
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: center;
    overflow: hidden;
}
.title-info span{
    font-size: 16px !important;
    font-family:'Hind Siliguri', sans-serif ;
}
.raiting-info{
    grid-column: 1/2;
    grid-row: 2/3;
    font-size: 14px;
}
.raiting-info span{
    font-size: 14px;
}
.raiting-info i{
    margin: 0px 2px;
    font-size: 14px !important;
    color: #fbcd00;
}
.tags-info{
    grid-column: 1/2;
    grid-row: 3/4;
    display: flex;
    flex-wrap: wrap;
    overflow:hidden;
}
.card-tag{
    background-color:var(--color-data);
    height: 30%;
    color: #ffffff;
    border-radius: 20px;
    padding: 2px 4px;
    font-size: 10px;
    margin: 1px;
}
.card-tag2{
    background-color:#008ddf;
    height: 30%;
    color: #ffffff;
    border-radius: 20px;
    padding: 2px 4px;
    font-size: 10px;
    margin: 1px;
}
.description-info{
    grid-column: 1/2;
    grid-row: 4/5;
    text-align:justify;
    font-size: 14px;
    overflow: hidden;
}
.icon-info{
    position: absolute;
    bottom: 12px;
    right: 12px;
    padding: 2px;
    cursor: pointer;
    background-color: #000000c4;
    color: #ffffff;
}
.the-card .material-icons{
    font-size: 20px;
}
/* section of the content2, tags content */
.content-tag{
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
}
.chip{
    height: 30% !important;
    margin: 1px !important;
    background-color: var(--color-data) !important;
    color: #ffffff !important;
}
/* desing two for the form */
.content1_2{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 62px;
}
.content2_2{
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 22% 1fr;
    background-color: #ffffff;
    border-radius: 10px;
}
.content2_2-header{
    grid-column: 1/2;
    grid-row: 1/2;
    position: relative;
    background-image: url(/src/app/assets/img/boku.jpg);
    background-size:100% 100%;
    background-repeat: no-repeat;
    border-radius: 10px 10px 0px 0px;
}
.shadow-header{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0px 0px;
    background-color: #000000b2;
}
.conternt-img-header{
    position: absolute;
    left: 2%;
    bottom: -150%;
    width: 28%;
    height: 200%;
    border-radius: 2px;
    background-color:var(--color-area);
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-header{
    width: 96%;
    height: 96%;
    background-image: url(/src/app/assets/img/boku.jpg);
    background-position: center;
    background-size:cover;
}
.content2_2-cont{
    grid-column: 1/2;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 32% 1fr;
    grid-template-rows: 8% 14% 26% 1fr;
}
.cont-side{
    grid-column: 1/2;
    grid-row: 1/-1;
}
.cont-title{    
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: 18px;
    font-family: 'Hind Siliguri', sans-serif;
    color: var(--color-data);
}
.cont-tags{
    grid-column: 2/3;
    grid-row: 2/3;
}
.cont-description{
    grid-column: 2/3;
    grid-row: 3/4;
}
.cont-description span{
    display: block;
    width: 90%;
    text-align: justify;
    font-size: 12px;
}
.cont-chapters{
    grid-column: 2/3;
    grid-row: 4/5;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-rows: 12% 1fr;
}
.title-chapter{
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 16px;
    font-family: 'Hind Siliguri', sans-serif;
    color: #7e7b7b;
}
.cont-chapter{
    grid-column: 1/2;
    grid-row: 2/3;
}
.chapters{
    width: 94%;
    height: 94%;
    margin: 0 auto;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.chapters::-webkit-scrollbar{
    width: 8px;
}
.chapters::-webkit-scrollbar-thumb{
    background-color: #141414;
    border-radius: 50px;
}
.chapter{
    width: 90%;
    height: 24%;
    border: 1px solid #cccccc;
    border-radius: 4px;
    display: grid;
    grid-template-columns: 22% 80%;
    grid-template-rows: 1fr;
    gap: 2px;
}
.img-chapter{
    grid-column: 1/2;
    grid-row: 1/2;
    background: #908b8b;
    background-image: url(/src/app/assets/img/img-chapter3.png);
    background-size: 60%,90%;
    background-position: center;
    background-repeat: no-repeat;
}
.title-chapter{
    grid-column: 2/-1;
    grid-row: 1/2;
    font-size: 16px;
    font-family:'Hind Siliguri', sans-serif ;
}
/* property display none */
.disable{
    display: none;
}
/* media responsive for divices small */
@media (max-width:480px){}
/* media responcive for divices medium small */
@media (min-width:481px) and (max-width:720px){}
/* media responsive for divices medium */
@media (min-width:721px) and (max-width:992px){}
/* media responsive for divices medium-large */
@media (min-width:993px) and (max-width:1220px){}
/* media responsive for divices big  */
@media (min-width:1480px) and (max-width:1980px){
   /* style nav content */ 
   .container-nav{
    height: 80px;
    }
    .nav-logo{
        width: 260px;
        height: 78px;
    }
    /* style main section */
    .main{
        width: 98%;
        height: 88vh;
        margin-top: 4vh;
    }
    /* layout of the anime form */
    .anime-data{
        border: 4px solid var(--color-area);
    }
    .anime-preview{
        border: 4px solid var(--color-area);
    }
    /* section of the anime dates */
    .content1{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 68px;
    }
    .content-date{
        width: 44%;
        height: 10%;
    }
    .content-date label{
        font-size: 18px !important;
    }
    .d-input{
        font-size: 18px !important;
    }
    .input-field .btn{
        padding: 0px 20px;
        font-size: 18px;
    }
    .file-path{
        font-size: 16px !important;
    }
    .content-date-check{
        width: 44%;
        height: 10%;
    }
    .content-date-check label span{
        font-size: 20px !important;
    }
    .datepicker{
        font-size: 18px !important;
    }
    div.input-field .select-wrapper li span{
        font-size: 18px !important;
    }
}