/* style to the scrollbar */
body::-webkit-scrollbar{
    width: 8px;
}
body::-webkit-scrollbar-thumb{
    background-color: #a3a3a3;
    border-radius: 50px;
}
body::-webkit-scrollbar-thumb:hover{
    background-color: #7e7e7e;
}
/* style to the body */
body{
    background-image: #dbdbdb;
}
/* style nav content */
.content-first{
    width: 100%;
}
.container-nav{
    padding: 0px 4% 0px 4%;
    height: 68px;
}
.nav-logo{
    width: 240px;
    height: 66px;
}
#nav .nav-wrapper ul li .text-menu{
    font-size: 1em;
}
#nav .nav-wrapper ul li .text-menu:hover{
    background-color: transparent;
    color: #868686;
}
.content-search{
    position:relative;
    margin: 2% 0% 0% 0%;
}
.nav-area-search{
    position: relative;
    top: 12px;
    width: 160px;
    padding: 4px;
    background-color: #1f125c;
    border-radius: 50px;
}
#search{
    position: relative;
    width: 120px;
    border-radius: 50px;
    background-color: #1f125c;
    color: #ccc8c8;
    padding: 4px;
    margin:0px;
    
}
.nav-button-search{
    position: absolute;
    right: -136px;
    top: -12px;
}
#btn-user{
    border-radius: 10px;
    margin: 6px;
    font-size: 12px;
}
.mode{
    margin: 0px 4px;
}
#btn-mode{
    background:#17243b;
    margin: 0px;
}
#btn-mode::after{
    background: #ffd000;
}
/* style to the log in content */
#modallog{
    width: 22em;
    border-radius: 10px;
    text-align: center;
}
#modallog .title-modal{
    font-size: 26px;
    font-family: 'Hind Siliguri', sans-serif;
    margin: 2px 10px;
}
#modallog .modal-content{
    padding: 6px;
}
#modallog .modal-content input{
    display: block;
    width: 220px;
    height: 2.5rem;
    font-size: 16px;
    margin: 8px auto;
    box-shadow:none;
    transition-property: border-bottom,box-shadow;
    transition-duration: 100ms;
}
#modallog .modal-content input:focus-visible{
    border-bottom: 2px solid #7700ff;
    box-shadow:2px solid  #7700ff;
}
#modallog .modal-content button{
    display: block;
    width: 220px;
    height: 2.5rem;
    font-size: 16px;
    background-color: #00c02a;
    color: #ffffff;
    font-family: 'Hind Siliguri', sans-serif;
    border-radius: 4px;
    margin: 8px auto;
    border: none;
}
#modallog .modal-content .facebook{
    background-color: #006eff;
}
#modallog .modal-content button:hover{
    cursor: pointer;
}
#modallog .modal-content button:active{
    transform: scale(.9);
}
#modallog .modal-footer a{
    font-size: 14px;
    margin: 2px 4px;
    color: #00cf2d;
}
/* style to the nav-menu-mobile */
#mobile-demo{
    background-color: #311b92;
    width: 260px;
}
#mobile-demo > li > a{
    color: white;
    padding: 0px 20px;
}
#mobile-demo  li  .content-search{
    position: relative;
    margin: 0px 0px 20px 0px;
}
#mobile-demo  li  .nav-area-search{
    position: relative;
    width: 240px;
    margin: 0px auto;
    padding: 0px 0px;
    background-color:  #1f125c;
    border-radius: 50px;
}
#mobile-demo  li #search{
    position: relative;
    width: 220px;
    height: 36px;
    font-size: 14px;
    border-radius: 50px;
    background-color: #1f125c;
    padding: 0px 10px;
    margin:0px 0px;
}
#mobile-demo li .nav-button-search{
    position: absolute;
    right: -216px;
    top: 8px;
}
#mobile-demo li #btn-user{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    margin: 10px auto;
    margin-top: 10px;
    font-size: 12px;
    padding: 0px 10px;
}
#mobile-demo li #btn-user:active{
    background-color: #9c9c9c;
}
#mobile-demo li #btn-user i{
    margin: 0px;
    color: #ffffff;
}
#mobile-demo li .mode{
    margin: 0px 20px;
}
#mobile-demo li .mode label{
    margin: 0px auto;
}
/* style to the main */
.content-main{
    width: 100%;
    margin: 2vh 0px;
    display: grid;
    grid-template-columns: 1fr 62% 1fr;
    grid-template-rows: 1fr;
    gap: 4px;
}
/* aside layout */
.aside-content1{
    grid-column: 1/2;
    grid-row: 1/-1;
    display: flex;
    justify-content: center;
    align-items:flex-start;
}
.aside-content2{
    grid-column: 3/4;
    grid-row: 1/-1;
    display: flex;
    justify-content: center;
    align-items:flex-start;
}
/* anime layout */
.content-anime1{
    grid-column: 2/3;
    grid-row: 1/-1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr 80px;
    gap: 10px;
}
/* filter layout */
.content-filter{
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    height: 100%;
}
/* pagination layout */
.content-pagination{
    grid-column: 1/2;
    grid-row: 3/4;
}
/* style filter */
.filter-secc{
    width: 90%;
    height: 100%;
    margin: 0px auto;
    /* background-color: #2b2b2b; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.filter-secc .dropdown-trigger{
    background-color: blueviolet;
    color: #ffffff;
}
.filter-secc .dropdown-trigger:hover{
    background-color: blueviolet;
    color: #ffffff;
}
.filter-secc .dropdown-trigger:focus{
    background-color: blueviolet;
    color: #ffffff;
}
.filter-secc .dropdown-content{
    top: 140px !important;
}
.btn-filter{
    border: none;
    padding: 8px;
    border-radius: 10px;
    background-color: #7700ff ;
    color: #ffffff;
    font-size: 16px;
    font-family:sans-serif;
    display: flex;
    align-items: center;
}
.btn-filter:active{
    transform: scale(0.9);
}
.btn-filter:focus{
    background-color: #7700ff;
}
/* tyle anime content */
.anime-title{
    display: block;
    width: 100%;
    margin: 0px auto;
    font-size: 1.8rem;
    color: #9c9c9c;
    font-family:sans-serif;
    padding: 10px;
}
.anime-content-item2{
    grid-column: 1/2;
    grid-row: 2/3;
    width: 100%;
    margin: 2px auto;
    display: flex;
    flex-wrap: wrap;
}
.item2{
    position: relative;
    width: 22%;
    height: 300px;
    margin: 12px auto;
    border-radius: 6px;
    border: 1px solid #bbbbbb;
    transition-property: transform, box-shadow;
    transition-duration: 200ms;
}
.item2:hover{
    transform: scale(1.02);
    box-shadow: 4px 4px 2px 2px #797979;
}
.link-item2{
    position: relative;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1f;
    grid-template-rows: 70% 1fr;
    color: #2b2b2b;
}
.img-item2{
    grid-column: 1/-1;
    grid-row: 1/2;
    position: relative;
    width: 94%;
    height: 100%;
    margin: 6px auto;
    background-image: url(/src/app/assets/img/boku.jpg);
    background-size:100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 6px;
}
.shadow-item2{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #616161;
    border-radius: 10px;
    opacity: .1;
}
.play{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items:center;
    color: #039b75;
    opacity: 0;
} 
.play:hover{
    opacity: 1;
}
.play i{
    font-size: 48px !important;
    margin-bottom: 40%;
}
.title-item2{
    grid-column: 1/-1;
    grid-row: 2/-1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 16px;
    text-overflow:clip;
    overflow:hidden;
}
.link-item2:hover{
    color: #039b75;
}
.icon-item2{
    position: absolute;
    top: 7px;
    right: 7px;
    padding: 2px;
    background-color: #2b2b2ba8;
    border-radius: 4px;
} 
.icon-item2 i{
    font-size: 20px;
    color: #ffffff;
}
.icon-item2 i:hover{
    cursor: pointer;
}
/* pagination style */
.pagination-secc{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination{
    width: auto !important;
}
.pagination-secc .pagination li.active{
    background-color: #7700ff;
}
.pagination-secc li a{
    font-size: 24px !important;
    padding: 0px 20px !important;
}
/* aside style */
.legion{
    width: 96%;
    height: 90%;
    background-color: #00c02a;
}
/* style to the content footer */
.content-footer{
    width: 100%;
    height: 100px;
    background-color: #462bc0;
}
/* media responsive for divices small */
@media (min-width:100px) and (max-width:480px){
    .container-nav{
        padding: 0px;
        height: 64px;
    }
    .nav-logo{
        width: 200px;
        height: 56px;
        margin-right: 60px;
    }
    #modallog{
        width: 18em;
    }
    #modallog .title-modal{
        font-size: 22px;
        margin: 2px 8px;
    }
    #modallog .modal-content{
        padding: 4px;
    }
    #modallog .modal-content input{
        display: block;
        width: 200px;
        height: 2rem;
        font-size: 12px;
        margin: 6px auto;
    }
    #modallog .modal-content button{
        display: block;
        width: 200px;
        height: 2rem;
        font-size: 12px;
        margin: 6px auto;
        border: none;
    }
    #modallog .modal-footer a{
        font-size: 12px;
        margin: 2px 0px;
    }
    .content-main{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows:1fr;
        background-color: aqua;
    }
    .aside-content1{
        display: none;
    }
    .aside-content2{
        display: none;
    }
    .content-anime1{
        grid-column: 1/-1;
        grid-row: 1/2;
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows: 80px 1fr 60px;
    }
    .content-anime1{
        grid-column: 1/-1;
        grid-row: 2/3;
    }
    .filter-secc{
        grid-column: 1/-1;
        grid-row: 1/2;
    }
    .content-pagination{
        grid-column: 1/-1;
        grid-row: 3/4;
    }
    .pagination-secc li a{
        font-size: 20px !important;
        padding: 0px 8px !important;
    }
    .anime-title{
        font-size: 2rem;
    }
    .item2{
        width: 60%;
        height: 380px;
        background-color: #ffa600;
        margin: 8px auto;
    }
    .title-item2{
        margin:2px 4px;
        font-size: 16px;
    }
}
/* media responcive for divices medium small */
@media (min-width:481px) and (max-width:720px){
    .container-nav{
        padding: 0px 20;
        height: 76px;
    }
    .nav-logo{
        width: 184px;
        height: 68px;
        margin-left: -40vw;
    }
    #modallog{
        width: 20em;
    }
    #modallog .title-modal{
        font-size: 24px;
        margin: 4px 8px;
    }
    #modallog .modal-content{
        padding: 4px;
    }
    #modallog .modal-content input{
        display: block;
        width: 220px;
        height: 2.2rem;
        font-size: 14px;
        margin: 8px auto;
    }
    #modallog .modal-content button{
        display: block;
        width: 220px;
        height: 2.2rem;
        margin: 8px auto;
        font-size: 14px;
        border: none;
    }
    #modallog .modal-footer a{
        font-size: 13px;
        margin: 2px 2px;
    }
    .content-main{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows:1fr;
        background-color:bisque;
    }
    .aside-content1{
        display: none;
    }
    .aside-content2{
        display: none;
    }
    .content-anime1{
        grid-column: 1/-1;
        grid-row: 1/2;
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows: 80px 1fr 60px;
    }
    .content-anime1{
        grid-column: 1/-1;
        grid-row: 2/3;
    }
    .filter-secc{
        grid-column: 1/-1;
        grid-row: 1/2;
    }
    .content-pagination{
        grid-column: 1/-1;
        grid-row: 3/4;
    }
    .pagination-secc li a{
        font-size: 22px !important;
        padding: 0px 10px !important;
    }
    .anime-title{
        font-size: 2rem;
    }
    .item2{
        width: 40%;
        height: 340px;
        background-color: #ffa600;
        margin: 8px auto;
    }
    .title-item2{
        margin:2px 4px;
        font-size: 16px;
    }
}
/* media responsive for divices medium */
@media (min-width:721px) and (max-width:992px){
    .container-nav{
        padding: 0px 20;
        height: 76px;
    }
    .nav-logo{
        width: 184px;
        height: 68px;
        margin-left: -40vw;
    }
    #modallog{
        width: 20em;
    }
    #modallog .title-modal{
        font-size: 24px;
        margin: 4px 8px;
    }
    #modallog .modal-content{
        padding: 4px;
    }
    #modallog .modal-content input{
        display: block;
        width: 220px;
        height: 2.2rem;
        font-size: 14px;
        margin: 8px auto;
    }
    #modallog .modal-content button{
        display: block;
        width: 220px;
        height: 2.2rem;
        margin: 8px auto;
        font-size: 14px;
        border: none;
    }
    #modallog .modal-content .facebook{
        background-color: #006eff;
    }
    #modallog .modal-footer a{
        font-size: 13px;
        margin: 2px 2px;
    }
    .content-main{
        display: grid;
        grid-template-columns: 260px 1fr;
        grid-template-rows:1fr;
        background-color:cadetblue;
    }
    .aside-content1{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .aside-content2{
        display: none;
    }
    .content-anime1{
        grid-column: 2/3;
        grid-row: 1/2;
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows: 60px 1fr 50px;
    }
    .filter-secc{
        grid-column: 1/-1;
        grid-row: 1/2;
    }
    .content-pagination{
        grid-column: 1/-1;
        grid-row: 3/4;
    }
    .pagination-secc li a{
        font-size: 24px !important;
        padding: 0px 12px !important;
    }
    .anime-title{
        font-size: 2rem;
    }
    .item2{
        width: 44%;
        height: 300px;
        background-color: #ffa600;
        margin: 8px auto;
    }
    .title-item2{
        margin:2px 4px;
        font-size: 16px;
    }
}
/* media responsive for divices medium-large */
@media (min-width:993px) and (max-width:1220px){
    .content-main{
        display: grid;
        grid-template-columns: 300px 1fr;
        grid-template-rows:1fr;
        background-color:cadetblue;
    }
    .aside-content1{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .aside-content2{
        display: none;
    }
    .content-anime1{
        grid-column: 2/3;
        grid-row: 1/2;
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows: 50px 1fr 44px;
    }
    .filter-secc{
        grid-column: 1/-1;
        grid-row: 1/2;
    }
    .content-pagination{
        grid-column: 1/-1;
        grid-row: 3/4;
    }
    .pagination-secc li a{
        font-size: 24px !important;
        padding: 0px 12px !important;
    }
    .anime-title{
        font-size: 2rem;
    }
    .item2{
        width: 28%;
        height: 320px;
        background-color: #ffa600;
        margin: 8px auto;
    }
    .title-item2{
        margin:2px 4px;
        font-size: 16px;
    }
}
/* media responsive for divices big  */
@media (min-width:1480px) and (max-width:1980px){

}