:root{
    --color-area:#00ff80;
    --color-data:#f5a30b;
}
/* style to the body */
body{
    height: 100vh;
    background-image:linear-gradient(to bottom,#010a81,#015a7e);
}
/* style nav content */
.content-first{
    width: 100%;
}
.container-nav{
    padding: 0px 4% 0px 4%;
    height: 68px;
}
.nav-logo{
    width: 240px;
    height: 66px;
    padding: 0px;
    margin: 0px;
}
/* style main section */
.main{
    width: 98%;
    height: 86vh;
    margin: 0px auto;
    margin-top: 2vh;
    display: grid;
    grid-template-columns: 56% 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
}

.anime-data{
    grid-column: 1/2;
    grid-row: 1/-1;
    display: grid;
}
.anime-preview{
    grid-column: 2/3;
    grid-row: 1/-1;
}
.content1{
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    height: 100%;
    border: 1px solid var(--color-area);
    border-radius: 10px;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 46px;
}
.date-form{
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.content-date{
    width: 30%;
    height: 10%;
}
.d-input{
    width: 100% !important;
    font-size: 14px !important;
    margin: 0px !important;
    color: #f1f1f1;
    box-shadow: none !important;
}
.d-input:focus-visible{
    border-bottom: 1px solid var(--color-data) !important;
    box-shadow:1px solid var(--color-data) !important;
}
.d-input:focus-visible+label{
    color: var(--color-data) !important;
}
.input-field .btn{
    border-radius: 20%;
    padding: 0px 10px;
    background-color: var(--color-data);
    color: #ffffff;
}
.input-field .btn:hover{
    background-color: var(--color-data);
}
.file-path{
    color: #ffffff;
    font-size: 10px !important;
}
.content-date-check{
    width: 30%;
    height: 10%;
    display: flex;
    align-items: center;
}
.content-date-check label span::before{
    border: 2px solid var(--color-data) !important;
}
.with-gap:checked+span::after{
    background-color:none !important;
    border: none !important;
}
.content-date-check label span::after{
    background-color: var(--color-data) !important;
}
.datepicker{
    color: #ffffff;
}
div.input-field .select-wrapper .select-dropdown{
    color: #ffffff;
}
div.input-field .select-wrapper .select-dropdown:focus-visible{
    border-bottom: 1px solid var(--color-data) !important;
    box-shadow:1px solid var(--color-data) !important;
}
div.input-field .select-wrapper ul{
    background-color: rgba(0, 0, 0, 0.493) !important;
}
div.input-field .select-wrapper li span{
    color: #ffffff !important;
}
.content-date-area{
    width: 90%;
    height: 20%;
    display: flex;
    justify-content: center;
}
.disable{
    display: none;
}
.content-btn{
    grid-column: 1/2;
    grid-row: 2/3;
    position: relative;
}
.btn-data{
    position: absolute;
    right: 10px;
    top: 2px;
    border: none;
    background-color: var(--color-data);
    color: #ffffff;
    padding: 8px;
    font-size: 18px;
    border-radius: 10px;
}
.btn-data:active{
    transform: scale(.9);
}
.btn-data:focus{
    background-color: var(--color-data);
}
.content2{
    width: 100%;
    height: 100%;
    position: relative;
    border: 1px solid var(--color-area);
    border-radius: 10px;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80% 1fr;
}
/* .content2::-webkit-scrollbar{
    width: 8px;
}
.content2::-webkit-scrollbar-thumb{
    background-color: #a3a3a3;
    border-radius: 20px;
}
.content2::-webkit-scrollbar-thumb:hover{
    background-color: #7e7e7e;
} */
.btn-change{
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 10px;
    background-color: var(--color-data);
    border-radius: 100%;
    opacity: .8;
    cursor: pointer;
    z-index: 1;
}
.btn-change i{
    color: #ffffff;
}
.btn-change:hover{
    transform: scale(1.2);
    opacity: 1;
}
.content-card{
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.the-card{
    width: 50%;
    height: 90%;
    position: relative;
    background-color: #e7e7e7e1;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 200ms;
    overflow: hidden;
}
.the-card:hover{
    transform: scale(1.04);
}
.link-card{
    width: 90%;
    height: 94%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80% 20%;
    cursor:default;
}
.img-card{
    grid-column: 1/1;
    grid-row: 1/2;
    background-image: url(/src/app/assets/img/boku.jpg);
    background-size:100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 6px;
}
.title-card{
    grid-column: 1/1;
    grid-row: 2/3;
    text-align: center;
    font-size: 16px;
    color: var(--color-data);
    overflow: hidden;
}
.icon-card{
    position: absolute;
    top:12px;
    right:12px;
    padding: 6px;
    cursor: pointer;
    background-color: #000000c4;
    color: #ffffff;
}
.content-info{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #290370;
    top: 0;
    transform: translateY(-100%);
    transition: transform 400ms;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-info2{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #290370;
    top: 0;
    transition: transform 400ms;
    transform: translateY(0);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-date{
    width: 90%;
    height: 90%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 20% 1fr;
    gap: 5px;
}
.title-info{
    grid-column: 1/2;
    grid-row: 1/2;
}
.tags-info{
    grid-column: 1/2;
    grid-row: 2/3;
}
.description-info{
    grid-column: 1/2;
    grid-row: 3/4;
}
.icon-info{
    position: absolute;
    bottom: 12px;
    right: 12px;
    padding: 4px;
    cursor: pointer;
    background-color: #000000c4;
    color: #ffffff;
}
.content-tag{
    grid-column: 1/2;
    grid-row: 2/3;
}