.content-first{
    display: none;
}
.waiting-page{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right,  #00ff4cea, #00ffffe5);  
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
.cont-title{
   display: block;
}
.waiting-title{
    font-size: 3.5rem;
    font-family: 'Hind Siliguri', sans-serif;
    color:rgb(111, 0, 255) ;
    text-align: center;
}
.waiting-loader{
    padding: 100px;
}
.container-nav{
    padding: 0px 4% 0px 4%;
    height: 12vh;
}
.nav-logo{
    width: 240px;
    height: 68px;
}
.content-search{
    position:relative;
    margin: 2% 0% 0% 0%;
}
.nav-area-search{
    position: relative;
    top: 12px;
    width: 160px;
    padding: 4px;
    background-color: #36055e;
    border-radius: 50px;
}
#search{
    position: relative;
    width: 120px;
    border-radius: 50px;
    background-color: #36055e;
    color: #ccc8c8;
    padding: 4px;
    margin:0px;
    
}
.nav-button-search{
    position: absolute;
    right: -136px;
    top: -12px;
    display: inline;
}
#btn-user{
    border-radius: 10px;
    margin: 6px;
    font-size: 10px;
}
.mode{
    margin: 0px 6px;
}
#btn-mode{
    background:#292929;
    margin: 0px;
}
#btn-mode::after{
    background: #ffd000;
}
#mobile-demo{
    background-color: #47228b;
    width: 260px;
}
#mobile-demo > li > a{
    color: white;
}
.content-main{
    display: none;
}
#main{
    width: 100%;
    height: 88vh;
    background: green;
    margin-top: 2vh;
}
.content-footer{
    display: none;
}
#footer{
    width: 100%;
    height: 160px;
    background-color: brown;
}
@media screen and (max-width:320px){
    .waiting-title{
        font-size: 2.5rem;
        font-family: 'Hind Siliguri', sans-serif;
        color:rgb(111, 0, 255) ;
        text-align: center;
    }
    .container-nav{
        padding: -100px;
        height: 10vh;
    }
    .nav-logo{
        width: 200px;
        height: 56px;
        margin-right: 40px;
    }
    #main{
        background-color: aqua;
    }
}
@media screen and (max-width:620px){
    .waiting-title{
        font-size: 2.5rem;
        font-family: 'Hind Siliguri', sans-serif;
        color:rgb(111, 0, 255) ;
        text-align: center;
    }
    .container-nav{
        padding: 0px;
        height: 10vh;
    }
    .nav-logo{
        width: 200px;
        height: 60px;
    }
    #main{
        background-color: bisque;
    }
}