.content-first{
    
}
.waiting-page{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right,  rgba(16, 240, 83, 0.801), rgba(0, 255, 255, 0.815));  
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
.cont-title{
   display: block;
}
.waiting-title{
    font-size: 3.5rem;
    font-family: 'Hind Siliguri', sans-serif;
    color:rgb(111, 0, 255) ;
    text-align: center;
}
.waiting-loader{
    padding: 100px;
}
.container-nav{
    padding: 0px 4% 0px 4%;
    height: 12vh;
}
.nav-logo{
    width: 240px;
    height: 68px;
}
.content-search{
    position:relative;
    margin: 2% 0% 0% 0%;
}
.nav-area-search{
    position: relative;
    top: 12px;
    width: 160px;
    padding: 4px;
    background-color: #36055e;
    border-radius: 50px;
}
#search{
    position: relative;
    width: 120px;
    border-radius: 50px;
    background-color: #36055e;
    color: #ccc8c8;
    padding: 4px;
    margin:0px;
    
}
.nav-button-search{
    position: absolute;
    color: #ccc8c8;
    right: -140px;
    top: -12px;
}