*{
    box-sizing: border-box;
}
/* style to the scrollbar */
body::-webkit-scrollbar{
    width: 8px;
}
body::-webkit-scrollbar-thumb{
    background-color: #9c9c9c;
    border-radius: 10px;
}
body::-webkit-scrollbar-thumb:hover{
    background-color: #7e7e7e;
}
/* style to the body */
body{
    background-image: #dbdbdb;
}
/* style to the content loader */
.waiting-page{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right,  #00ff4cea, #00ffffe5);  
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
.cont-title{
   display: block;
}
.waiting-title{
    font-size: 4rem;
    font-family: 'Hind Siliguri', sans-serif;
    color:#311b92;
    text-align: center;
}
.waiting-loader{
    padding: 100px;
}
/* all content */
.content-first{
    display: none;
}
/* style to the nav-menu */
.container-nav{
    padding: 0px 4% 0px 4%;
    height: 72px;
}
.nav-logo{
    width: 240px;
    height: 68px;
}
#nav .nav-wrapper ul li .text-menu{
    font-size: 1.1em;
}
#nav .nav-wrapper ul li .text-menu:hover{
    background-color: transparent;
    color: #868686;
}
.content-search{
    position:relative;
    margin: 2% 0% 0% 0%;
}
.nav-area-search{
    position: relative;
    top: 12px;
    width: 160px;
    padding: 4px;
    background-color: #1f125c;
    border-radius: 50px;
}
#search{
    position: relative;
    width: 120px;
    border-radius: 50px;
    background-color: #1f125c;
    color: #ccc8c8;
    padding: 4px;
    margin:0px;
    
}
.nav-button-search{
    position: absolute;
    right: -136px;
    top: -12px;
}
#btn-user{
    border-radius: 10px;
    margin: 6px;
    font-size: 12px;
}
.mode{
    margin: 0px 4px;
}
#btn-mode{
    background:#17243b;
    margin: 0px;
}
#btn-mode::after{
    background: #ffd000;
}
/* style to the log in content */
#modallog{
    width: 22em;
    border-radius: 10px;
    text-align: center;
}
#modallog .title-modal{
    font-size: 26px;
    font-family: 'Hind Siliguri', sans-serif;
    margin: 2px 10px;
}
#modallog .modal-content{
    padding: 6px;
}
#modallog .modal-content input{
    display: block;
    width: 220px;
    height: 2.5rem;
    font-size: 16px;
    margin: 8px auto;
    box-shadow:none;
}
#modallog .modal-content input:focus-visible{
    border-bottom: 2px solid #7700ff;
    box-shadow:2px solid  #7700ff;
}
#modallog .modal-content button{
    display: block;
    width: 220px;
    height: 2.5rem;
    font-size: 16px;
    background-color: #00c02a;
    color: #ffffff;
    font-family: 'Hind Siliguri', sans-serif;
    border-radius: 4px;
    margin: 8px auto;
    border: none;
}
#modallog .modal-content .facebook{
    background-color: #006eff;
}
#modallog .modal-content button:hover{
    cursor: pointer;
}
#modallog .modal-content button:active{
    transform: scale(.9);
}
#modallog .modal-footer a{
    font-size: 14px;
    margin: 2px 4px;
    color: #00cf2d;
}
/* style to the nav-menu-mobile */
#mobile-demo{
    background-color: #311b92;
    width: 260px;
}
#mobile-demo > li > a{
    color: white;
    padding: 0px 20px;
}
#mobile-demo  li  .content-search{
    position: relative;
    margin: 0px 0px 20px 0px;
}
#mobile-demo  li  .nav-area-search{
    position: relative;
    width: 240px;
    margin: 0px auto;
    padding: 0px 0px;
    background-color:  #1f125c;
    border-radius: 50px;
}
#mobile-demo  li #search{
    position: relative;
    width: 220px;
    height: 36px;
    font-size: 14px;
    border-radius: 50px;
    background-color: #1f125c;
    padding: 0px 10px;
    margin:0px 0px;
}
#mobile-demo li .nav-button-search{
    position: absolute;
    right: -216px;
    top: 8px;
}
#mobile-demo li #btn-user{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    margin: 10px auto;
    margin-top: 10px;
    font-size: 12px;
    padding: 0px 10px;
}
#mobile-demo li #btn-user:active{
    background-color: #9c9c9c;
}
#mobile-demo li #btn-user i{
    margin: 0px;
    color: #ffffff;
}
#mobile-demo li .mode{
    margin: 0px 20px;
}
#mobile-demo li .mode label{
    margin: 0px auto;
}
/* style to the main */
.content-main{
    display: none !important;
}
#main{
    width: 100%;
    margin-top: 2vh;
    display: grid;
    grid-template-columns: 340px 15fr;
    grid-template-rows: 4fr 6fr;
    gap: 4px;
}
.aside-content1{
    grid-column: 1/2;
    grid-row: 1/-1;
}
.content-anime{
    grid-column: 2/-1;
    grid-row: 1/2;
}
.content-anime1{
    grid-column: 2/-1;
    grid-row: 2/-1;
}
.anime-title{
    display: block;
    width: 96%;
    margin: 0px auto;
    font-size: 2rem;
    color: #9c9c9c;
    font-family:sans-serif;
    padding: 10px;
}
.anime-content-item1{
    width: 96%;
    margin: 2px auto;
    display: flex;
    flex-wrap: wrap;
}
.anime-content-item2{
    width: 96%;
    margin: 2px auto;
    display: flex;
    flex-wrap: wrap;
}
.item1{
    width: 22%;
    height: 140px;
    background-image: url(/src/app/assets/img/boku.jpg);
    background-size: cover;
    background-position: center;
    background-origin: content-box;
    margin:8px auto;
    border-radius: 20px;
    transition-property: transform, box-shadow;
    transition-duration: 0.2s;
}
.item1:hover{
    transform: scale(1.05);
    box-shadow: 4px 4px 4px 4px #2e2e2ede;
}
.link-item1{
    display: grid;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #808080;
    border-radius: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 28px;
    gap: 2px;
    opacity: 0;
    transition-property: opacity;
    transition: .2s;
}
.link-item1:hover{
    opacity: .2;
}
.link-info{
    grid-column: 1/-1;
    grid-row: 1/2;
}
.link-play{
    grid-column: 1/-1;
    grid-row: 2/3;
}
.link-title{
    grid-column: 1/-1;
    grid-row: 3/-1;
    width: 94%;
    margin: 0px auto;
    font-family:sans-serif;
    color:#ffffff;
    font-size: 20px;
    opacity: 1;
}
.play{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #00c02a;
    opacity: 0;
} 
.play:hover{
    opacity: 1;
}
.item2{
    width: 22%;
    height: 300px;
    background-color: #00f7ff;
    margin: 12px auto;
    border-radius: 10px;
    transition-property: transform, box-shadow;
    transition-duration: 0.4s;
}
.item2:hover{
    transform: scale(1.02);
    box-shadow: 4px 4px 4px 4px #797979;
    cursor: pointer;
}
.legion{
    width: 90%;
    height: 50%;
    margin: 10px 0px 10px 30px;
    background-color: #00c02a;
}
/* style to the content footer */
.content-footer{
    display: none;
}
#footer{
    width: 100%;
    height: 100px;
    background-color: #462bc0;
}
/* media responsive for divices small */
@media (min-width:100px) and (max-width:480px){
    .waiting-title{
        font-size: 2rem;
    }
    .waiting-loader{
        padding: 40px;
    }
    .container-nav{
        padding: 0px;
        height: 64px;
    }
    .nav-logo{
        width: 200px;
        height: 56px;
        margin-right: 60px;
    }
    #modallog{
        width: 18em;
    }
    #modallog .title-modal{
        font-size: 22px;
        margin: 2px 8px;
    }
    #modallog .modal-content{
        padding: 4px;
    }
    #modallog .modal-content input{
        display: block;
        width: 200px;
        height: 2rem;
        font-size: 12px;
        margin: 6px auto;
    }
    #modallog .modal-content button{
        display: block;
        width: 200px;
        height: 2rem;
        font-size: 12px;
        margin: 6px auto;
        border: none;
    }
    #modallog .modal-content .facebook{
        background-color: #006eff;
    }
    #modallog .modal-footer a{
        font-size: 12px;
        margin: 2px 0px;
    }
    #main{
        background-color: aqua;
    }
    #main{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 640px 4fr 6fr;
        gap: 10px;
    }
    .aside-content1{
        grid-column: 1/-1;
        grid-row: 1/2;
    }
    .content-anime{
        grid-column: 1/-1;
        grid-row: 2/3;
    }
    .content-anime1{
        grid-column: 1/-1;
        grid-row: 3/-1;
    }
    .anime-title{
        font-size: 2rem;
    }
    .item1{
        width: 86%;
        height: 240px;
        background-color: #f503a4;
        margin:8px auto;
    }
    .item2{
        width: 86%;
        height: 400px;
        background-color: #ffa600;
        margin: 8px auto;
    }
}
/* media responcive for divices medium small */
@media (min-width:481px) and (max-width:770px){
    .waiting-title{
        font-size: 3rem;
    }
    .container-nav{
        position: relative;
        padding: 0px 20;
        height: 76px;
    }
    .nav-logo{
        width: 184px;
        height: 68px;
        margin-left: -40vw;
    }
    #modallog{
        width: 20em;
    }
    #modallog .title-modal{
        font-size: 24px;
        margin: 4px 8px;
    }
    #modallog .modal-content{
        padding: 4px;
    }
    #modallog .modal-content input{
        display: block;
        width: 220px;
        height: 2.2rem;
        font-size: 14px;
        margin: 8px auto;
    }
    #modallog .modal-content button{
        display: block;
        width: 220px;
        height: 2.2rem;
        margin: 8px auto;
        font-size: 14px;
        border: none;
    }
    #modallog .modal-content .facebook{
        background-color: #006eff;
    }
    #modallog .modal-footer a{
        font-size: 13px;
        margin: 2px 2px;
    }
    #main{
        margin-top: 20px;
        background-color: bisque;
    }
    #main{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 680px 4fr 6fr;
        gap: 10px;
    }
    .aside-content1{
        grid-column: 1/-1;
        grid-row: 1/2;
    }
    .content-anime{
        grid-column: 1/-1;
        grid-row: 2/3;
    }
    .content-anime1{
        grid-column: 1/-1;
        grid-row: 3/-1;
    }
    .anime-title{
        font-size: 2rem;
    }
    .item1{
        width: 45%;
        height: 240px;
        background-color: #f503a4;
        margin:8px auto;
    }
    .item2{
        width: 45%;
        height: 400px;
        background-color: #ffa600;
        margin: 8px auto;
    }
}
/* media responsive for divices medium */
@media (min-width:771px) and (max-width:992px){
    .waiting-title{
        font-size: 3rem;
    }
    .container-nav{
        position: relative;
        padding: 0px 20;
        height: 76px;
    }
    .nav-logo{
        width: 184px;
        height: 68px;
        margin-left: -40vw;
    }
    #modallog{
        width: 20em;
    }
    #modallog .title-modal{
        font-size: 24px;
        margin: 4px 8px;
    }
    #modallog .modal-content{
        padding: 4px;
    }
    #modallog .modal-content input{
        display: block;
        width: 220px;
        height: 2.2rem;
        font-size: 14px;
        margin: 8px auto;
    }
    #modallog .modal-content button{
        display: block;
        width: 220px;
        height: 2.2rem;
        margin: 8px auto;
        font-size: 14px;
        border: none;
    }
    #modallog .modal-content .facebook{
        background-color: #006eff;
    }
    #modallog .modal-footer a{
        font-size: 13px;
        margin: 2px 2px;
    }
    #main{
        margin-top: 20px;
        background-color: bisque;
    }
    #main{
        display: grid;
        grid-template-columns: 300px 12fr;
        grid-template-rows: 4fr 6fr;
        gap: 10px;
    }
    .aside-content1{
        grid-column: 1/2;
        grid-row: 1/span 2;
    }
    .content-anime{
        grid-column: 2/-1;
        grid-row: 1/2;
    }
    .content-anime1{
        grid-column: 2/-1;
        grid-row: 2/-1;
    }
    .anime-title{
        font-size: 2rem;
    }
    .item1{
        width: 40%;
        height: 160px;
        background-color: #f503a4;
        margin:8px auto;
    }
    .item2{
        width: 40%;
        height: 300px;
        background-color: #ffa600;
        margin: 8px auto;
    }
}
/* media responsive for divices medium-large */
@media (min-width:993px) and (max-width:1200px){
    #main{
        display: grid;
        grid-template-columns: 300px 12fr;
        grid-template-rows: 4fr 6fr;
        gap: 10px;
    }
    .aside-content1{
        grid-column: 1/2;
        grid-row: 1/span 2;
    }
    .content-anime{
        grid-column: 2/-1;
        grid-row: 1/2;
    }
    .content-anime1{
        grid-column: 2/-1;
        grid-row: 2/-1;
    }
    .anime-title{
        font-size: 2rem;
    }
    .item1{
        width: 31%;
        height: 160px;
        background-color: #f503a4;
        margin:8px auto;
    }
    .item2{
        width: 31%;
        height: 300px;
        background-color: #ffa600;
        margin: 8px auto;
    }
}
/* media responsive for divices big  */
@media (min-width:1440px) and (max-width:1880px){
    .waiting-title{
        font-size: 5rem;
    }
    .container-nav{
        padding: 0px 60px;
        height: 88px;
    }
    .nav-menu{
       margin-top: 10px;
    }
    .nav-logo{
        width: 260px;
        height: 86px;
    }
    #modallog{
        width: 26em;
    }
    #modallog .title-modal{
        font-size: 28px;
        margin: 4px 8px;
    }
    #modallog .modal-content{
        padding: 4px;
    }
    #modallog .modal-content input{
        display: block;
        width: 260px;
        height: 2.8rem;
        font-size: 18px;
        margin: 10px auto;
    }
    #modallog .modal-content button{
        display: block;
        width: 260px;
        height: 2.8rem;
        font-size: 18px;
        margin: 10px auto;
        border: none;
    }
    #modallog .modal-content .facebook{
        background-color: #006eff;
    }
    #modallog .modal-footer a{
        font-size: 16px;
        margin: 2px 6px;
    }
    #main{
        background-color: #ff004c;
        margin-top: 28px;
    }
    #main{
        display: grid;
        grid-template-columns: 340px 12fr;
        grid-template-rows: 4fr 6fr;
        gap: 10px;
    }
    .aside-content1{
        grid-column: 1/2;
        grid-row: 1/span 2;
    }
    .content-anime{
        grid-column: 2/-1;
        grid-row: 1/2;
    }
    .content-anime1{
        grid-column: 2/-1;
        grid-row: 2/-1;
    }
    .anime-title{
        font-size: 2rem;
    }
    .item1{
        width: 18%;
        height: 140px;
        background-color: #f503a4;
        margin:8px auto;
    }
    .item2{
        width: 18%;
        height: 280px;
        background-color: #ffa600;
        margin: 8px auto;
    }
}