:root{
    --color-area:#7a0397;
    --color-form:#dbaa0a;
}
*{
    box-sizing:border-box;
}
/* style and grid of the body */
body{
    width: 100%;
    height: 100vh;
    background:linear-gradient(to right, #1d124e , #38045fdd);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 68px 1fr;
}
/* style of the navbar */
.container-nav{
    grid-column: 1/-1;
    grid-row: 1/2;
    padding: 0px 4% 0px 4%;
    height: 66px;
}
.nav-logo{
    width: 240px;
    height: 64px;
}
.nav-wrapper ul li .text-menu{
    font-size: 1.1em;
}
.nav-wrapper ul li .text-menu:hover{
    background-color: transparent;
    color: #868686;
}
/* style of the navbar mobile */
#mobile-demo{
    background-color: #3219a5;
    width: 260px;
}
#mobile-demo > li > a{
    color: white;
    padding: 0px 20px;
    font-size: 18px;
}
/* style and grid of the main */
.main-login{
    grid-column: 1/-1;
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing:content-box;
}
/* style form */
.form-area{
    width: 50%;
    height: 400px;
    border: 1px solid #9c9c9c;
    border-radius: 16px;
}
/* style form1 */
#register{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 16% 1fr;
}
.title-area{
    grid-column: 1/-1;
    grid-row: 1/2;
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    background-color:var(--color-area);
    border-radius: 16px 16px 0px 0px;
}
.title-area p{
    font-size:28px;
    font-family: 'Hind Siliguri', sans-serif;
    color: #f1f1f1;
    margin: 0px 20px;
}
.b-change{
    position: absolute;
    right: 10%;
    width: 22%;
    height: 28px;
    border-radius: 12px;
    border: none;
    background-color:var(--color-form);
    color: #f1f1f1;
}
.b-change:active{
    transform: scale(.9);
}
.b-change:focus{
    background-color:var(--color-form);
}
.date-area{
    grid-column: 1/-1;
    grid-row: 2/-1;
}
.dates{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 60px;
}
.dates fieldset{
    border: none;
}
.date1{
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

}
#content-d{
    width: 26%;
}
.d-input{
    width: 100% !important;
    font-size: 14px !important;
    margin: 0px !important;
    color: #f1f1f1;
    box-shadow: none !important;
}
.d-input:focus-visible{
    border-bottom: 1px solid var(--color-form) !important;
    box-shadow:1px solid var(--color-form) !important;
}
.d-input:focus-visible+label{
    color: var(--color-form) !important;
}
.date2{
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.date3{
    grid-column: 1/2;
    grid-row: 3/4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.b-date3{
    width: 80px;
    height: 28px;
    border: none;
    border-radius: 8px;
    color: #f1f1f1;
    font-size: 16px;
    background-color:var(--color-area);
}
.b-date3:active{
    transform: scale(.9);
}
.b-date3:focus{
    background-color: var(--color-area);
}
/* style form2  */
#login{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 16% 1fr;
}
.dates1{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 100px;
}
.dates1 fieldset{
    border: none;
}
#login .date-area #content-d{
    width: 50%;
}
.off{
    display: none !important;
}
@media (min-width:100px) and (max-width:440px){
    .container-nav{
        padding: 0px 0% 0px 0%;
        height: 60px;
    }
    .nav-logo{
        width: 180px;
        height: 48px;
    }
    .form-area{
        width: 86%;
        height: 500px;
    }
    .title-area p{
        font-size:18px;
    }
    .b-change{
        position: absolute;
        right: 10%;
        width: 28%;
        height: 32px;
        font-size: 12px;;
    }
    .dates{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 40px;
    }    
    #content-d{
        width: 44%;
    }
    #content-d label{
        font-size: 10px;
    }
    .d-input{
        font-size: 12px !important;
    }
    .b-date3{
        width: 86px;
        height: 24px;
        font-size: 14px;
    }
}
@media (min-width:441px) and (max-width:720px){
    .container-nav{
        padding: 0px 2% 0px 2%;
        height: 64px;
    }
    .nav-logo{
        width: 220px;
        height: 60px;
    }
    .form-area{
        width: 80%;
        height: 480px;
    }
    .title-area p{
        font-size:24px;
    }
    .b-change{
        position: absolute;
        right: 10%;
        width: 120px;
        height: 30px;
        font-size: 14px;;
    }
    .dates{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 46px;
    }    
    #content-d{
        width: 42%;
    }
    #content-d label{
        font-size: 14px;
    }
    .d-input{
        font-size: 14px !important;
    }
    .b-date3{
        width: 88px;
        height: 28px;
        font-size: 16px;
    }
}
@media (min-width:721px) and (max-width:992px){
    .form-area{
        width: 60%;
        height: 480px;
    }
    .title-area p{
        font-size:26px;
    }
    .b-change{
        position: absolute;
        right: 10%;
        width: 120px;
        height: 30px;
        font-size: 16px;;
    }
    .dates{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 60px;
    }    
    #content-d{
        width: 40%;
    }
    #content-d label{
        font-size: 16px;
    }
    .d-input{
        font-size: 16px !important;
    }
    .b-date3{
        width: 92px;
        height: 30px;
        font-size: 16px;
    }
}
@media (min-width:1440px) and (max-width:1880px){
    .container-nav{
        padding: 0px 6% 0px 6%;
        height: 80px;
    }
    .nav-logo{
        width: 280px;
        height: 78px;
    }
    .nav-wrapper ul li .text-menu{
        font-size: 1.6em;
    }
    .form-area{
        width: 68%;
        height: 540px;
    }
    .title-area p{
        font-size:32px;
    }
    .b-change{
        position: absolute;
        right: 10%;
        width: 180px;
        height: 36px;
        font-size: 18px;;
    }
    .dates{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 80px;
    }    
    #content-d{
        width: 28%;
    }
    #content-d label{
        font-size: 16px;
    }
    .d-input{
        font-size: 16px !important;
    }
    .b-date3{
        width: 92px;
        height: 30px;
        font-size: 16px;
    }
}